
.button1
{
	background-color: transparent;
	border: none;
	color: white;
	height: 25px;
	font-size: 10px;
	border-left: 1px solid #626a72;
	border-top: none;
}

.button1:hover
{
	background-image: linear-gradient(rgb(30, 45, 55), rgb(1,1,1));
}

.row
{
	height: 25px;
	background-image: linear-gradient(rgb(45, 56, 65), rgb(1, 12, 22));
	width: 100%;
	border-radius: 0%;
	height: 27px;
}

.button2 
{
	background-color: gold;
	color: black;
}
.menuderoulant
{
	background: #17222B;
	color: white;
	text-align: center;
}
.menu{
	text-transform: uppercase;
	}
	
.menu li {
	display: inline;
	}

.home_icon
{
	width: 17px;
}

.menu a {
	color: black;
	font-weight: bold;
	background-color: white;
	border-top-width: 4px;
	border-top-style: solid;
	border-bottom-width: none;
}

#home {
	border-top-width:4px;
	border-top-color: #BBBDBF; 
}

#international {
	border-top-width:4px;
	border-top-color: #0386C3; 
}

#politique {
	border-top-width:4px;
	border-top-color: #1F0D67; 
}

#societe {
	border-top-width:4px;
	border-top-color: #D50303; 
}

#eco {
	border-top-width:4px;
	border-top-color: #FE2F2F; 
}

#culture {
	border-top-width:4px;
	border-top-color: #F20559; 
}

#idees {
	border-top-width:4px;
	border-top-color: #2E3942; 
}

#planete {
	border-top-width:4px;
	border-top-color: #30932E; 
}

#sport {
	border-top-width:4px;
	border-top-color: #6FAA12; 
}

#sciences {
	border-top-width:4px;
	border-top-color: #0CB4AE; 
}

#pixels {
	border-top-width:4px;
	border-top-color: #06B586; 
}

#campus {
	border-top-width:4px;
	border-top-color: #FF6E17; 
}

#lemag {
	border-top-width:4px;
	border-top-color: #2E3942; 
}

#yellow {
	background-color: gold;
		border-top-width:4px;
	border-top-color: #CCAA00; 
}

